:root {
  --blue-light: #e2f4ef;
  --blue-mid: #3b8ea5;
  --blue-dark: #2d728f;
  --green: #8fb339;
  --yellow: #e4cc37;
  --red: #ea7464;
  --gray-light: #f0f0f0;
  --gray-mid: #d7d7d7;
  --shadow-1: 0 0 14px #2a2a2a24;
  --shadow-2: 0 0 3px #00000037;
  --shadow-3: 0 0 6px #4f4f4f3f;
}

body {
  font-family: Quicksand, serif;
  font-size: 16px;
}

h1 {
  font-size: 260%;
  font-family: "Averia serif libre";
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
}

h2 {
  font-size: 200%;
  line-height: 1.2;
  font-family: "Averia serif libre";
}

h3 {
  font-size: 150%;
  line-height: 1.2;
}

h4 {
  font-weight: bold;
}

p {
  line-height: 1.5;
  margin: 20px 0;
}

.text-light {
  color: var(--gray-mid);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.test {
  min-height: 300px;
}

/* Misc classes ---------------------------------------------------------- */

.hidden {
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-center-all {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.line-horizontal {
  background-color: var(--gray-mid);
  height: 1px;
  margin: 20px 0;
}

.spacer {
  height: 20px;
}

/* .spacer-lg {
  height: 40px;
} */

section {
  padding: 40px 10%;
}

/* Buttons and links styles ---------------------------------------------- */

button {
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: var(--shadow-3);
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn-row {
  display: flex;
  gap: 10px;
}

.link-1 {
  padding: 8px 14px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-1:hover {
  background-color: var(--blue-light);
}

.link-2 {
  padding: 8px 12px;
  transition: 0.3s;
  text-wrap: nowrap;
}

.link-2:hover {
  background-color: var(--gray-light);
}

.btn-green {
  background-color: var(--green);
}

.btn-green:hover {
  background-color: var(--yellow);
}

/* Navbar Styles --------------------------------------------------------- */

nav {
  padding: 10px 5%;
  min-height: 32px;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position affects menu icon (which is absolute)  */
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
}

/* DropMenu styles -------------------------------------------------------- */

.drop-menu {
  background-color: white;
  box-shadow: var(--shadow-1);
  position: absolute;
  top: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

/* Footer styles ------------------------------------- */

footer {
  padding: 60px 5%;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-container {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.icon-container:hover {
  background-color: var(--gray-light);
}

/* Homepage styles -------------------------------------- */

.profile-pic {
  width: 100px;
  height: 100px;
  border: 6px solid white;
  box-shadow: var(--shadow-3);
  border-radius: 100%;
}

.profile-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

/* Carousel styles ---------------------------------- */

.carousel-section {
  overflow-x: hidden;
  padding: 40px 0;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;

  & > .inner {
    display: flex;
    transition: all 1s ease-in-out;
  }
}

.card {
  margin: 10px;
  background-color: white;
  box-shadow: var(--shadow-3);
}

.card figure {
  width: 100%;
  aspect-ratio: 1/1;
}

.crop-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin-bottom: -3px;
}

.scroll-btn {
  background-color: white;
  color: black;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  padding: 0;
  margin: 30px 6px;
  transition: 0.3s;
  box-shadow: none;
}

.scroll-btn:hover {
  background-color: var(--blue-light);
  box-shadow: var(--shadow-2);
}

/* More info modal styles ----------------------------------------------- */

.modal-background {
  background-color: #9fc7c58a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
}

.modal {
  box-shadow: var(--shadow-1);
  border-radius: 20px;
  /* max-height: 90vh; */
  background-color: white;

  
}

.modal-content {
  padding: 20px;
  /* margin: 20px; */
  max-height: 80vh;
  overflow-y: scroll;
}

.modal figure {
  width: 100%;
}

.modal figure img {
  width: 100%;
}

.modal-header {
  height: 40px;
  padding: 0 10px;
  box-shadow: var(--shadow-1);
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Animations ------------------------------------------------- */

.rotate-180 {
  /* transition: .3s; */
  transform: rotate(180deg);
}

.transition {
  transition: 0.3s;
}

/* Responsive styles -------------------------------------- */

@media screen and (max-width: 580px) {
  .show-sm {
    display: block;
  }

  .hidden-sm {
    display: none;
  }

  nav {
    flex-direction: column;
  }
}
