:root {
  --blue-light: #e2f4ef;
  --blue-mid: #3b8ea5;
  --blue-dark: #2d728f;
  --green: #8fb339;
  --yellow: #e4cc37;
  --gray-light: #f0f0f0;
  --shadow-1: 0 0 14px #2a2a2a24;
  --shadow-2: 0 0 100px #a6a6a627;
  --shadow-3: 0 0 6px #68686827;
  
}

body {
  font-family: Quicksand, serif;
}

h4 {
  font-weight: bold;
}

.test {
  border: 2px solid red;
  height: 600px;
}

/* Misc classes ---------------------------------------------------------- */

.hidden {
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

/* Buttons and links styles ---------------------------------------------- */

.btn-row {
  display: flex;
  gap: 10px;
}

.link-1 {
  padding: 8px 14px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* text-wrap: nowrap; */
  /* flex-wrap: nowrap;   */
}

.link-1:hover {
  background-color: var(--blue-light);
}

.link-2 {
  padding: 8px 12px;
  transition: 0.3s;
  text-wrap: nowrap;
}

.link-2:hover {
  background-color: var(--gray-light);
}

/* Navbar Styles --------------------------------------------------------- */

nav {
  padding: 10px 5%;
  min-height: 35px;
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  min-height: 35px;

  /* align-items: center; */
}

/* DropMenu styles -------------------------------------------------------- */

.drop-menu {
  background-color: white;
  box-shadow: var(--shadow-1);
  position: absolute;
  top: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

/* Side menu styles ------------------------------------ */

.side-menu {
  background-color: white;
  position: absolute;
  /* flex-direction: column; */
  left: 0;
  top: 0;
  /* height: 100vh; */
  width: 100vw;
  padding: 10px 5%;
  box-shadow: var(--shadow-1);
  /* box-shadow: var(--shadow-3); */

  display: none;
  z-index: 1000;
  min-height: 200px;
  /* overflow-y: hidden; */
}

/* Animations ------------------------------------------------- */

.rotate-180 {
  /* transition: .3s; */
  transform: rotate(180deg);
}

.transition {
  transition: 0.3s;
}

/* Responsive styles -------------------------------------- */

@media screen and (max-width: 580px) {
  .show-sm {
    display: block;
  }

  .hidden-sm {
    display: none;
  }
  
}
